<h1>Create a new pouch</h1>

<%= form_for(@pouch, :action => resource(:pouches) ) do %>

  <p>
    <%= text_field :name, :label => "Name " %>
  </p>

  <p>
    <%= submit "Create!" %>
  </p>
<% end =%>
<%= form_for(@pouch, :action => resource(:pouches) ) do %>

  <p>
    <%= hidden_field :name, :label => "Name", :value => '' %>
  </p>

  <p>
    <%= submit "Create Unnamed Pouch" %>
  </p>
<% end =%>
