<h1>Pouch: <%=h @pouch.name %></h1>

<p> Files in this pouch: <br/>
  <%- @pouch.uploads.each do |upload| %>
    <%= upload.display_filename %> <br/>
  <%- end %>
</p>

<%= form :enctype =>'multipart/form-data' ,:action => url(:controller => "uploads", :action => "create") do %>
  <input type='hidden' name='pouch_id' value='<%= @pouch.id %>'>
  <input type='file' name='file1'><br/>
  <input type='file' name='file2'><br/>
  <input type='file' name='file3'><br/>
  <%= submit "Add to pouch" %>
<% end =%>

<%- if @pouch.uploads.size > 0 %>
  <p><%= link_to 'Download a zip of these files', resource(@pouch, :format => :zip) %></p>
<%- else %>
  <p>Add some files to your pouch in order to download a zip of your files.</p>
<%- end %>
