<h1>Pouch: <%=h @pouch.name %></h1>

<p> Files in this pouch: <br/>
  <%- @pouch.uploads.each do |upload| %>
    <%= upload.display_filename %> <br/>
  <%- end %>
</p>

<%= form :enctype =>'multipart/form-data' ,:action => url(:controller => "uploads", :action => "create") do %>
  <input type='hidden' name='pouch_id' value='<%= @pouch.id %>'>
  <input type='file' name='file1'><br/>
  <input type='file' name='file2'><br/>
  <input type='file' name='file3'><br/>
  <%= submit "Add to pouch" %>
<% end =%>

<p>Add a link to download a zipped file of the pouch</p>
